html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input[type="text"]{height:25px;padding:0 0 0 5px;margin:0;border:0;border-radius:5px;}
input[type="text"]:focus{outline:0}
.btn{background:#00f;color:#fff;padding:5px 10px;font-weight:bold;cursor:default;border-radius:5px;}
.btn:hover{background:#00d}
html{font-family:sans-serif}
.main{position:absolute;top:0;left:0;height:100%;width:100%;background:#808080}
.upload-drop{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.75;color:#fff;text-align:center;}
.upload-drop > table{width:100%;height:100%;border-spacing:20px;border-collapse:separate;}
.upload-drop > table .drop{vertical-align:middle;border:solid 10px rgba(255,255,255,0.5);border-radius:6px 6px;}
.upload-drop > table .drop.disabled{visibility:hidden}
.upload-drop > table .drop:hover,.upload-drop > table .drop.hover{border-color:rgba(255,255,255,0.9)}
.upload-drop > table .custom-drop{height:33%}
.upload-drop > table .main-drop{height:100%}
.upload-drop > table .column1{width:20%}
.upload-drop > table .column2{width:60%}
.upload-drop > table .column3{width:20%}
.uploader{background:#fff;position:absolute;bottom:0;right:20px;padding:10px 10px 0;border-radius:10px 10px 0 0;}
.uploader header{height:16px;padding-bottom:10px;}
.uploader header .title{float:left;margin-right:20px}
.uploader header .count-holder{float:right}
.uploader ul{max-height:150px;overflow-y:auto;padding-bottom:10px}
.uploader li{height:30px;line-height:30px;font-size:.8em;padding:3px 0;}
.uploader li .icon{width:30px;height:30px;background:#808080;float:left}
.uploader li .label{float:left;width:150px;padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.uploader li .progress{clear:both;height:2px;width:0%;background:#008000}
.uploader li:nth-child(odd){background:#f0f0f0}
.photo-list{width:100%;height:100%;overflow-y:auto;}
.photo-list .fake-padding{height:35px;width:100%}
.photo-list-item{position:relative;float:left;padding:10px;margin:20px;background:#fff;}
.photo-list-item:hover{padding:12px;margin:18px;box-shadow:0 2px 5px 3px rgba(0,0,0,0.4);}
.photo-list-item:hover .icon{display:block}
.photo-list-item.selected{background:#ff0}
.photo-list-item img{display:block}
.photo-list-item .icon{display:none;position:absolute;right:15px;width:25px;height:25px;}
.photo-list-item .icon:hover{background-color:rgba(255,255,255,0.5);border-radius:5px}
.photo-list-item .expand.icon{top:15px;background-image:url("/img/expand.png")}
.photo-list-item .info.icon{bottom:15px;background-image:url("/img/info.png");height:24px;width:24px}
