html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input[type="text"],input[type="password"]{height:25px;padding:0 0 0 5px;margin:0;border:0;border-radius:5px;}
input[type="text"]:focus,input[type="password"]:focus{outline:0}
.btn{background:#00f;color:#fff;padding:5px 10px;font-weight:bold;cursor:default;border-radius:5px;}
.btn:hover{background:#00d}
.clear-both{clear:both}
html{font-family:sans-serif}
.main{position:absolute;top:0;left:0;height:100%;width:100%;background:#808080}
.upload-drop{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.75;color:#fff;text-align:center;}
.upload-drop > table{width:100%;height:100%;border-spacing:20px;border-collapse:separate;}
.upload-drop > table .drop{vertical-align:middle;border:solid 10px rgba(255,255,255,0.5);border-radius:6px 6px;}
.upload-drop > table .drop.disabled{visibility:hidden}
.upload-drop > table .drop:hover,.upload-drop > table .drop.hover{border-color:rgba(255,255,255,0.9)}
.upload-drop > table .custom-drop{height:33%}
.upload-drop > table .main-drop{height:100%}
.upload-drop > table .column1{width:20%}
.upload-drop > table .column2{width:60%}
.upload-drop > table .column3{width:20%}
