.full-photo
  position relative

  img
    display block
    width 100%

  .icon
    display none
    position absolute
    right 15px
    width 25px
    height 25px

    &:hover
      background-color rgba(255,255,255,.5);
      border-radius 5px

  .close.icon
    top 15px
    background-image url('/img/close.png')
