html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

input[type="text"]
  height 25px
  padding 0 0 0 5px
  margin 0
  border 0
  border-radius 5px
  &:focus
    outline 0

.btn
  background #0000ff
  color white
  padding 5px 10px
  font-weight bold
  cursor default
  border-radius 5px

  &:hover
    background #0000dd

.clear-both
  clear both

html
  font-family sans-serif

.main
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background gray

.upload-drop
  display none
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background black
  opacity .75 
  color white
  text-align center

  > table
    width 100%
    height 100%
    border-spacing 20px
    border-collapse separate

    .drop
      vertical-align: middle;
      border solid 10px rgba(255,255,255,0.5)
      border-radius 6px 6px

      &.disabled
        visibility hidden

      &:hover, &.hover
        border-color rgba(255,255,255,0.9)

    .custom-drop
      height 33%

    .main-drop
      height 100%

    .column1
      width 20%

    .column2
      width 60%

    .column3
      width 20%

.uploader
  background white
  position absolute
  bottom 0
  right 20px
  padding 10px 10px 0
  border-radius 10px 10px 0 0

  header
    height 16px
    padding-bottom 10px

    .title
      float left
      margin-right 20px

    .count-holder
      float right

  ul
    max-height 150px
    overflow-y auto
    padding-bottom 10px

  li
    height 30px
    line-height 30px
    font-size .8em
    padding 3px 0

    .icon
      width 30px
      height 30px
      background grey
      float left

    .label
      float left
      width 150px
      padding-left 10px
      ellipsis()

    .progress
      clear both
      height 2px
      width 0%
      background green

    &:nth-child(odd)
      background #f0f0f0
