.photo-form
  background grey
  border-top-left-radius 20px
  border-bottom-right-radius 5px
  border-bottom-left-radius 5px
  border-top-right-radius 5px

  header
    padding 0 10px
    margin-bottom 10px
    line-height 36px
    height 36px
    background white
    border-top-left-radius 20px
    border-top-right-radius 5px

    .title
      float left

    .close.icon
      float right
      background-color lightgrey
      background-image url("/img/close.png")
      width 25px
      height 25px
      margin-top 5px
      border-radius 5px
      background-color rgba(0,0,0,.3);

      &:hover
        background-color rgba(0,0,0,.1);

  .info
    clear both
    float left
    padding 0 10px

  .preview
    float right
    background white
    padding 10px
    margin 0 10px

  footer
    clear both
    padding 10px
