.toolbar .account
  line-height 35px
  float right
  margin-right 20px

  .sign-in
    display block

  .menu
    display none

body.has-session .toolbar .account
  .sign-in
    display none

  .menu
    display block
